/**
trying
 */
body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

footer {
	font-weight: bolder;
	color: white;
}

.bgimg-1 {
	background-image: url("../images/2friends.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("../images/heart-693427_1920.jpg");
	min-height: 400px;
}

.scared {
	font-weight: bolder;
	color: whitesmoke;
	font-size: 1.5rem;
	text-align: center;
}

.bgimg-3 {
	background-image: url("../images/twitter-292994_1920.jpg");
	min-height: 400px;
}

.bgimg-4 {
	background-image: url("../images/web.jpg");
}

.border {
	background-color: transparent;
	font-size: 25px;
	color: #C3E8F0;
}

.divstyle1 {
	background-color: #E89D9E;
	color: darkturquoise;
	text-align: -webkit-center;
	position: relative;
	padding: 5%;
}

.divstyle2 {
	background-color: transparent;
	color: #E89D9E;
	text-align: center;
	padding: 50px 80px;
	position: relative;

}

.oops {
	color: black;
	background-color: #E89D9E;
	padding: 50px 80px;
	text-align: justify;
}

.caption {
	left: 0;
	padding-top: 10%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	background-color: transparent;
	color: black;
	padding: 18px;
	font-size: 35px;
	letter-spacing: 10px;
	font-family: "Lucida Bright", "Comic Sans MS", sans-serif;
	text-shadow: #E89D9E;;
}

.caption {
	color: #E89D9E;
	font-weight: 900;
	padding-top: 40%;
}

.well.text-center {
	background: center;
	color: #E89D9E;
	border-color: paleturquoise;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
	}

	/*contact form*/
	/*Contact sectiom*/
	.content-header {
		font-family: 'Oleo Script', cursive;
		color: #fcc500;
		font-size: 45px;
	}

	.section-content {
		text-align: center;

	}

	.contact {

		font-family: 'Teko', sans-serif;
		padding-top: 60px;
		width: 100%;
		width: 100vw;
		height: 550px;
		background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
	}

	.contact-section {
		padding-top: 40px;
	}
	.contact-section .col-md-6 {
		width: 50%;
	}

	.form-line {
		border-right: 1px solid #B29999;
	}

	.form-group {
		margin-top: 10px;
	}

	label {
		font-size: 1.3em;
		line-height: 1em;
		font-weight: normal;
	}

	.form-control {
		font-size: 1.3em;
		color: #080808;
	}

	textarea.form-control {
		height: 135px;
		/* margin-top: px;*/
	}

	.submit {
		font-size: 1.1em;
		float: right;
		width: 150px;
		background-color: transparent;
		color: #fff;

	}
	h3 {
		color: #E89D9E;
		text-align: center;
	}
}

/*
nav bar
 */

/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
	padding-top: 100px;
}
footer {
	padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
	font-size: 24px;
}

.navbar-container {
	padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
	background-color: #222;
	border-color: #080808;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
	font-size: 18px;
}

.navbar-container.fixed-theme {
	padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
	transition: 0.8s;
	-webkit-transition:  0.8s;
}