/**
trying
 */
body, html {
	font-family: "Lato", sans-serif;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

footer {
	font-weight: bolder;
	color: white;
}

.bgimg-1 {
	background-image: url("../images/office-1575261_1920.jpg");
	min-height: 100%;
}

.bgimg-2 {
	background-image: url("../images/heart-693427_1920.jpg");
	min-height: 400px;
}

.scared {
	font-weight: bolder;
	color: whitesmoke;
	font-size: 1.5rem;
	text-align: center;
	display: list-item;
	align-items: center;

}

.bgimg-3 {
	background-image: url("../images/twitter-292994_1920.jpg");
}

.bgimg-4 {
	background-image: url("../images/web.jpg");
}

.border {
	background-color: black;
	font-size: 25px;
	color: #C3E8F0;
	margin-left: 45%;
}

.divstyle1 {
	background-color: white;
}

.divstyle2 {
	background-color: transparent;
	color: #E89D9E;
	text-align: center;
	padding: 50px 80px;
	position: relative;

}

.oops {
	color: black;
	background-color: #E89D9E;
	padding: 50px 80px;
	text-align: justify;
}

/*.caption {*/
	/*left: 0;*/
	/*padding-top: 10%;*/
	/*width: 100%;*/
	/*text-align: center;*/
	/*color: #000;*/
	/*display: initial;*/
/*}*/

.caption span.border {
	background-color: transparent;
	color: black;
	padding: 18px;
	font-size: 35px;
	letter-spacing: 10px;
	font-family: "Lucida Bright", "Comic Sans MS", sans-serif;
	text-shadow: #E89D9E;;
}

.caption {
	/*color: white;*/
	/*font-weight: 900;*/
	/*align-items: center;*/
	display: flex;
	align-items: center;
	height: 100%;

}

.well.text-center {
	background: center;
	color: #E89D9E;
	border-color: paleturquoise;
}

.page-header {
	padding-bottom: 9px;
	border-bottom: 1px solid black;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
	}

	/*contact form*/
	/*Contact sectiom*/
	.content-header {
		font-family: 'Oleo Script', cursive;
		color: #fcc500;
		font-size: 45px;
	}

	.section-content {
		text-align: center;

	}

	.contact {

		font-family: 'Teko', sans-serif;
		padding-top: 60px;
		height: 550px;
		background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
	}

	.contact-section {
		padding-top: 40px;
	}

	.contact-section .col-md-6 {
		width: 50%;
	}

	.col-md-6.form-line {
		align-items: normal;
		all: inherit;
		display: unset;
	}

	.form-line {
		border-right: 1px solid #B29999;
	}

	.form-group {
		margin-top: 10px;
	}

	label {
		font-size: 1.3em;
		line-height: 1em;
		font-weight: normal;
	}

	.form-control {
		font-size: 1.3em;
		color: #080808;
	}

	textarea.form-control {
		height: 135px;
		/* margin-top: px;*/
	}

	.submit {
		font-size: 1.1em;
		float: right;
		width: 150px;
		background-color: transparent;
		color: #fff;

	}

	h3 {
		color: #E89D9E;
		text-align: center;
	}
}

/*
icons
 */
/*ul.social-network {*/

/*}*/

/* social icons */
.social-network a.icoGithub:hover {
	background-color: #f5f37c;
}

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
	background-color: #33ccff;
}

.social-network a.icoInstagram:hover {
	background-color: deeppink;
}

.social-network a.icoVimeo:hover {
	background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}

.social-network a.icoGithub:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}

/*
who knows just cause
 */
div.clear
{
	clear: both;
}

div.product-chooser{

}

div.product-chooser.disabled div.product-chooser-item
{
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.product-chooser div.product-chooser-item{
	padding: 11px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	border: 1px solid #efefef;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10x;
}

div.product-chooser div.product-chooser-item.selected{
	border: 4px solid #428bca;
	background: #efefef;
	padding: 8px;
	filter: alpha(opacity=100);
	opacity: 1;
}

div.product-chooser div.product-chooser-item img{
	padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description{
	font-size: 12px;
}

div.product-chooser div.product-chooser-item input{
	position: absolute;
	left: 0;
	top: 0;
	visibility:hidden;
}


.g-recaptcha {
	/*padding-top: inherit;*/
}

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
	background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
	background-color: #bd42b0;
}

.social-network a.icoVimeo:hover {
	background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: cyan;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
	background-color: black;

}

div#navbar {
	background-color: black;
}

.navbar-inverse .navbar-brand {
	color: cyan;
}

.navbar-inverse .navbar-nav > li > a {
	color: cyan;
}

.col-md-12 {
	/*padding-top: 7%;*/
	/*padding-bottom: 2%;*/
}

label {
	color: cyan;
	font-weight: 500;
}

h3 {
	text-align: -webkit-center;
	/*color: cyan;*/
	font-weight: inherit;
	padding-top: 5%;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
	font-weight: 400;
	line-height: 1;
	color: firebrick;
}

h3.text-center {
	padding-bottom: 15%;
}

/*us*/
h1 {
	font-size: 4.5em;
}

p {
	font-weight: 400;
	/*font-size: 3em;*/
}

.img-quadrata {
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

h3 {
	font-weight: 800;
	/*color: cyan;*/
	font-size: 2em;
}

small {
	text-align: center;
	font-size: 1.5em;
	text-decoration: underline;
	color: gray;
}

.navbar-inverse {
	background-color: #000000;
	border: 5px solid cyan;
	background-image: linear-gradient(to bottom,#000 0,#000000 100%);
	padding-top: 1%;
}

.words {
	/*padding-top: inherit;*/
	color: cyan;
	/*text-shadow: 2px 2px black;*/
	/*display: inherit;*/
	position: relative;
	top: -100px;
}
.row.form-group.product-chooser {
	background-color: black;
	padding-bottom: 8%;
	padding-top: 5%;
	color: cyan;
	/*text-shadow: 2px 2px #000;*/
}

	.container {
		width: auto;

	}
/*.h2, h2 {*/
	/*font-size: 30px;*/
	/*text-align: -webkit-center;*/
	/*font-weight: 900;*/
	/*color: cyan;*/
/*}*/
form#contact-form {
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 5%;
}
.g-recaptcha > div {
	margin: 0 auto;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
	margin-top: -10px;
}
/*.buttons {*/
	/*padding-left: 34%;*/
	/*padding-bottom: 8%;*/
/*}*/

@media only screen and (max-width: 768px) {
	.social-network,
	.navbar-nav {
		margin: 0;
		padding-left: 0;
	}
}
